@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
font-family: 'Open Sans', sans-serif;
box-sizing: border-box;
color: #333;
font-size: 100%;
line-height: 1.5;
}
img {
  width: 240px;
  height: 200px;
}
